torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
scikit-learn==1.6.1
matplotlib
lightning
pandas
tokenizers
nnAudio
librosa>=0.10.0
einops
einops-exts
sentencepiece
notebook
wandb
audiomentations
numpy<2 
torchopenl3
-e ./CLAP
-e ./CED